*{
    margin: 0;
    padding: 0;
    border: border-box;     
}
section{
    height: 100%;
    width: 100%;
}
.nav{
    display: inline;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #0F1111;
}
.logo
{
    /* display: inline-block;    */
    height: 62px;
    width: 100px;
}
.logo-1{
    position: relative;
    top: 5px;
    bottom: 5px;
    height: 50px;
    background-image: url(Images/amazon_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-1:hover{
    border: 2px solid ;
    border-color: aliceblue;
}

.loc{
    padding: 3px;
    position: relative;
    top: 2px;
    bottom: 1px;
    height: 50px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 110px;
    color: antiquewhite;
}
.loc:hover{
    border: 2px solid;
    border-color: white;
}
.search{
    height: 60px;
    width: 725px;
}
#search1{
    padding: 7px 10px 7px 10;
    position: relative;
    top: 15px;
    bottom: 15px;
    height: 30px;
    width: 509px;
    font-size: 13px;
    margin-left: 120px;
    background-color: white;
}
#butt{
    border: 2px solid rgb(174, 168, 168);
    height: 25px;
    width: 80px;
    position: relative;
    top: 15px;
    color: rgb(5, 46, 82);
    background-color: yellow;
    margin-left: 0px;
}
.dropdown{
    margin-left: 10px;
    height: 55px;
    width: 80px;
    color: aliceblue;
    font-size: 15px;
    margin-left: 0px;
}
.eng1{
    display: inline;
    color: aliceblue;    
}
.dropdown:hover
{
    border: 2px solid;
    border-color: aliceblue;
}
.signin{
    font-size: 20px;
    align-items: center;
    height: 45px;
    width: 160px;
    color: aliceblue;
    margin-left: 40px;
    position: relative;
    top: 6px;
    padding: 2px;
}
#aaa{
        text-decoration: none;
    color: aliceblue;
}
.signin:hover{
    border: 2px solid;
    border-color: antiquewhite;
    
}
.ret{
    font-size: 20px;
    height: 55px;
    width: 149px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.ret:hover{
    border: 2px solid;
    color: aliceblue;
}
.cart1{
    height: 55px;
    width: 90px;
}
.cart
{
    height: 30px;
    width: 100%;
    color: aliceblue;
    font-size: 20px;    
    position: relative;
    top: 20px;
    left: 10px;
}
.cart1:hover{
    border: 2px solid;
    border-color: aliceblue;
}
.nav2{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(47, 38, 55);
}
.alll{
    height: 50px;
    width: 90px;
}
#bu{
    height: 30px;
    width: 70px;
    position: relative;
    top: 10px;
    left: 10px  ;
    padding: 3px;
    font-size: 20px;
}
.alll:hover{
    border: 2px solid aliceblue;
}
.deal{
    height: 50px;
    width: 110px;
    margin-right: 5pxs;
}
#deaal{
    position: relative;
    top: 12px;
    left: 7px;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: antiquewhite
}
.deal:hover
{
    border: 2px solid aliceblue;
}
.service
{
    height: 46px;
    width: 170px;
    margin-left: 10px;
}
#cus{
    font-size: 20px;
    margin-left: 4px;
    text-decoration: none;
    position: relative;
    top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}
.service:hover{
    border: 2px solid aliceblue;
}
.registerr
{
    height: 46px;
    width: 100px;
    /* margin-left: 10px; */
}
#reg{
    font-size: 20px;
    margin-left: 2px;
    text-decoration: none;
    position: relative;
    top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}
.registerr:hover{
    border: 2px solid aliceblue;
}
.cardd
{
    height: 46px;
    width: 120px;
    margin-left: 10px;
}
#carddd{
    font-size: 20px;
    margin-left: 4px;
    text-decoration: none;
    position: relative;
    top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}
.cardd:hover{
    border: 2px solid aliceblue;
}
.sell
{
    height: 46px;
    width: 80px;
    margin-left: 5px;
}
#sel{
    font-size: 20px;
    margin-left: 4px;
    text-decoration: none;
    position: relative;
    top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}
.sell:hover{
    border: 2px solid aliceblue;
}

    /* .slider{
        height: 800px;
        width: 1200px;
        background-size: cover;
            background-color: aqua;
    } */
.slider1{
        height: 520px;
        width: 100%;
        background-image: url(Images/istockphoto-1411000914-170667a.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%; 
        position: relative;
        top: 2%;
        animation: slider 15s 0s  infinite linear ;
        border-top: 5px solid rgb(8, 8, 8);
        border-bottom: 5px solid rgb(17, 16, 16);       

}
@keyframes slider {
    0%{background-image: url(Images/ssss.png);}
    25%{background-image: url(Images/sss.png);}
    50%{background-image: url(Images/ss.png);}
    75%{background-image: url(Images/istockphoto-1428293128-170667a.jpg);}
    100%{background-image: url(Images/sssss.png);}    
}
.bar{
    position: relative;
    top: 50%;
    /* left: 1%; */
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center ;  
    border: 2px solid rgb(9, 9, 9);
    color: rgb(16, 17, 17);  
    background-color: aliceblue;
    box-shadow: 5px 5px 10px;
    margin-left: 70px;
}
.bar:hover
{
    border: 2px solid lightslategray;
}
#lux{
    font-family:serif;
    position: relative;
    top: 40%;
    margin-left: 900px;
    font-size: 50px;
    -webkit-text-stroke: 2px;
}
.card1
{
    height: 300px;
    width: 300px;
    /* background: linear-gradient(red blue); */
    background-color: aliceblue;
    position: absolute;
    /* margin-top: 22%; */
    /* margin-left: 70px; */    
    top:460px ;
    left: 70px;
    background-color: lightgrey;
    background-image: url(Images/game.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#card111
{
    /* text-decoration: none; */
    font-family:serif;
    font-size: 30px;
    margin-left: 20px;
    /* margin-top: 50px;     */
    padding-top: 10px;
}
.card2{
    position: absolute;
    top: 460px;
    height: 300px;
    width: 300px;
    background-color: lightslategray;
    margin-left: 410px;
    background-image: url(Images/elec.png   );
    background-repeat: no-repeat;
    background-size: cover  ;
}
#card1111{
    font-size: 30px;
    font-family:serif;
    text-align: center;
}
.handk{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 460px;
    left: 750px;
    background-image: url(Images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#handk1
{
    font-size: 24px;
    height: 100%;
    width: 100%;
    text-align: center;   
}
body::-webkit-scrollbar
{
    height: 15px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb
{   
    background-color: rgb(38, 36, 39);
    border-radius: 5px;
}
.card4
{
    height: 120px;
    width: 190px;
    background-color: whitesmoke;
    position: absolute;
    top: 460px;
    left: 1100px;
}
#cardd4
{
    /* height: 100%; */
    /* width: 100%; */
    font-size: 23px;
    padding-top: 15px;
    padding-left: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 2px;
}
.butt1{
    position: relative;
    top: 12px;
    left: 35px;
    font-size: 16px;
    color: rgb(39, 112, 176);
    background-color: rgb(235, 235, 81) ;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid black;
}
.boxx{
    height: 160px;
    width: 190px;
    background-color: aqua;
    position: absolute;
    top: 600px;
    left: 1100px;
    background-image: url(Images/amazon-box.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#langua
{
    line-height: 26px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 55px;
    font-family:serif;
    /* -webkit-text-stroke: 0.4; */
    color: antiquewhite;
}
.card5
{
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: absolute;
    top: 800px;
    left: 70px;
}
#cardd5
{
    height: 100%;
    width: 100%;
    background-image: url(Images/box7_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 22px;
    
}
#lang5
{
    font-family: serif;
    /* margin-left: 50px; */
    top: 7px;
    text-decoration: none;   
}
.card6
{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 800px;
    left: 410px;
    background-color: aqua;
}
#elect
{
    height: 100%;
    width: 100%;
    background-image: url(Images/home&kit.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#lang6
{
    font-size: 25px;
    padding-top: 5px;
    /* margin-top: 5px; */
}
.card7
{   
    position: absolute;
    top: 800px;
    left: 750px;
    height: 300px;
    background-color: aqua;
    width: 300px;
}
#topp
{
    height: 100%;
    width: 100%;
    background-image: url(Images/box1_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#lang7{
    padding-top: 5px;
    margin-left: 25px;
    font-family: serif;
    font-size: 25px; 
    margin-left: 100px;   
}
.card8
{
    height: 300px;
    width: 220px;
    position: absolute;
    top: 800px;
    left: 1100px;
    background-color: aqua;
}
#cardd8
{
    height: 100%;
    width: 100%;
    background-image: url(Images/box5_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#lang8
{
    padding-top: 5px;
    font-size: 20px;
    /* background-color: antiquewhite; */
}
a{text-decoration: none;
}
.sign-in
{
    height: 150px;
    width: 100%;
    position: absolute;
    top: 1270px;
}
.boxxx
{
    height: 180px;
    width: 100%;
    top: 30%;
    font-size: 25px;
}
#butttt
{
    position: relative;
    left: 60px;
    border-radius: 5px;
    border: 2px solid black;
    height: 25px;
    width: 200px;
    margin-top: 10px;
    /* background-color: rgb(239, 239, 56); */
    color: rgb(23, 22, 21);
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    color: #0F1111;
}
#heig{
    padding-top: 50px;
    padding-left: 500px;
    padding-bottom: 50px;
    background-color: bisque;
}
#butttt:hover{    background-color: rgb(191, 181, 168);
    opacity: 0.6; color: rgb(13, 11, 11);}
.back
{
    height: 60px;
    width: 100%;
        position: absolute;
        top: 1500px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        -webkit-text-stroke: 1px;
        background-color: lightslategray;
}
.back2{
    height: 100%;
    width: 100%;

}
.sa{
    font-size: 30px;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 2px 5px;
    color: black;
}
.back2:hover{
    background-color: rgb(191, 181, 168);
    opacity: 0.6;
}
.divvvvv
{
    height: 500px;
    width: 100%;
    position: absolute;
    top: 1560px;
    background-color:#0F1111;
}
.foot1{
    height: 30%;
    width: 30%;
}
.foot11
{   
    height: 300px;
    width: 400px;
    line-height: 35px;
    font-size: 22px;
}
#foot111
{
    position: relative;
    top: 30px;
    right: 5px;
    font-size: 31px;
    margin-left: 200px;
    color: rgb(251, 237, 219);
}
.aaaa{
    position: relative;
    top: 70px;
    margin-top: 100px;
    padding-left: 200px;
}
.money
{
    height: 400px;
    width: 300px;
    position: absolute;
    top: 57px;
    left: 435px;
}
.make1
{
    font-size: 30px;
    font-family: serif;
    color: rgb(247, 245, 243);
}
.make
{   
    padding-top: 16px;
    font-size: 21px;
    height: 100%;
    width: 100%;
    line-height: 32px;
}
.amazonpay
{
    height: 400px;
    width: 300px;
    position: absolute;
    top: 48px;
    left: 735px;
}
.paye
{
    font-size: 25px;
    font-family: serif;
    color: rgb(247, 245, 243);
}
.payment
{
    padding-bottom: 5px;
    position: relative;
    top: 10px;
    font-size: 20px;
    height: 100%;
    width: 100%;
    line-height: 32px;
}
#aqa
{
    position: relative;
    top: 15px;
}
.helpp
{
    height: 400px;
    width: 300px;
        position: absolute;
    top: 60px;
    left: 1050px;
    padding-bottom: 20px;
}
.helpp1
{
    height: 80%;
    width: 100%;
    font-size: 21px;
    font-family: serif;
    color: rgb(247, 245, 243);
    line-height: 30px;
}
#aqaa
{
    position: relative;
    top: 15px;
}
.last
{
    border-top: 2px solid white ;
    border-bottom: 2px solid rgb(169, 74, 74) ;

    height: 90px;
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    top: 440px; 
}
.last{
    height: 60px;
    width: 100%;
    font-size: 16px;
}
#la
{
    position: relative;
    top: 4px;
    left: 36%;
    color: aliceblue;
}